@model CoffeeStore.Models.UserModel
@{
    ViewBag.Title = "ClientProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["RenderNavbar"] = true;
}

<link rel="stylesheet" type="text/css" href="~/Content/custom-profile.css">

<div class="container profile-container" style="margin-top:200px;margin-bottom:200px">
    <h2 class="profile-title">Welcome To Your Profile</h2>
    <dl class="row profile-info">
        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9">@Model.Name</dd>
        <dt class="col-sm-3">Username</dt>
        <dd class="col-sm-9">@Model.UserName</dd>
        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9">@Model.Email</dd>
        <dt class="col-sm-3">Address</dt>
        <dd class="col-sm-9">@Model.Address</dd>
    </dl>

    <!-- Add Edit button -->
    <div class="text-right profile-actions">
        @Html.ActionLink("Edit", "EditClientProfile", "Account", null, new { @class = "btn btn-primary" })

        @Html.ActionLink("Change Password", "ChangePassword", "Account", null, new { @class = "btn btn-secondary" })
    </div>
</div>
